.container {
    padding: 20px;
}

.actions {
    margin-bottom: 20px;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.mat-column-actions {
    width: 100px;
}