<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content>
  <form [formGroup]="passwordForm">
    <mat-form-field appearance="fill">
      <mat-label>Current Password</mat-label>
      <input matInput type="password" formControlName="currentPassword">
      <mat-error *ngIf="passwordForm.get('currentPassword')?.errors?.['required']">
        Current password is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword">
      <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.['required']">
        New password is required
      </mat-error>
      <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']">
        Password must be at least 8 characters long
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" 
          [disabled]="!passwordForm.valid"
          (click)="onSubmit()">
    Change Password
  </button>
</mat-dialog-actions>
